<!-- templates/index.html -->
<html>
  <head>
    <title>AKS workshop</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>{{message}}</h1>

    <h3>Crie seu ambiente &#128679;</h3>
    <form action="">
      <input type="text">
      <button>Criar &#128077;</button>
    </form>

    <h3>Ambientes já criados:</h3>
    <ol>
      <li>&#128077; adsantos</li>
      <li>&#128077; leonardoosse</li>
      <li>&#128077; christianlemos</li>
    </ol>

    <p>Não repita um nome que já existe e não use traços, pontos, acentos e outros caracteres especiais, apenas letras e números.</p>

    <script src="/static/scripts.js" charset="utf-8"></script>
  </body>
</html>